<a href="https://colab.research.google.com/github/Blasco0616/CPEN65-1/blob/main/ARRAY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
animals=["cat","dog","fish"]
x=animals[0]
y=animals[1]
z=animals[2]
print(x)
print(y)
print(z)

cat
dog
fish

In [7]:
animals=["cat","dog","fish"]
animals[0]="monkey"
x=animals[0]
print(x)
print(animals)

monkey
['monkey', 'dog', 'fish']

In [9]:
animals=["monkey","dog","fish","cat","birds"]
v=len(animals)
print(v)

5

In [13]:
animals=["monkey","dog","fish","cat","birds"]
for index, val in enumerate(animals):
  print(index,val)

0 monkey
1 dog
2 fish
3 cat
4 birds

In [14]:
animals=["monkey","dog","fish","cat","birds"]
animals.append("lion")
print(animals)

['monkey', 'dog', 'fish', 'cat', 'birds', 'lion']

In [15]:
numbers=[1,2,3,4,5,6,7,8,9,10]
numbers.insert(1,11)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers)