<a href="https://colab.research.google.com/github/Blasco0616/CPEN65-1/blob/main/Blasc_MarcChristianMidterm_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
a = (1,2,3,4,5,6,7,8,9,10)
one = a[0]
two = a[1]
three = a[2]
four = a[3]
five = a[4]
six = a[5]
seven = a[6]
eight = a[7]
nine = a[8]
ten = a[9]
ans= sum(a)
print(one)
print(ans)

1
55

In [14]:
a=[1,2,3,4,5,6,7,8,9,10]
a.append(11)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [20]:
a=[1,2,3,4,5,6,7,8,9,10]
a.insert(9,11)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 10]

In [19]:
a=[1,2,3,4,5]
a.reverse();
print(a)

[5, 4, 3, 2, 1]

In [43]:
a = [6,7,8,6,9]
b = len(a)

def findRepeated(a, b):
  a.sort()
  for i in range(1, b):
    if (a[i] !=i+1):
      return a[i]
print(findRepeated(a,b))

6